form .likert {
  white-space: nowrap;
  list-style: none;
  margin: 20px 0 0 0;
  padding: 0 0 35px;
  display: block;
}
form .likert:last-of-type {
  border-bottom: 0;
}
form .likert:before {
  content: "";
  position: relative;
  top: 11px;
  left: 9.5%;
  display: block;
  background-color: #efefef;
  height: 4px;
  width: 78%;
}
form .likert li {
  display: inline-block;
  width: 15%;
  text-align: center;
  vertical-align: top;
}
form .likert li input[type="radio"] {
  display: block;
  position: relative;
  top: 0;
  left: 50%;
  margin-left: -6px;
}
input[type="radio"] {
  transform: scale(1.5);
  margin-bottom: 10px;
}
body {
  background: #cad3db;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Mulish, sans-serif;
  padding: 20px;
  flex-direction: column;
}
.survey {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  width: 945px;
  min-height: 474px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(61, 159, 255, 0.2);
}
.question {
  font-size: 16px;
  margin-bottom: 30px;
  padding-bottom: 50px;
  text-align: center;
  width: 100%;
}
.form {
  margin-bottom: 25px;
}
.form__button {
  float: right;
  background: #3d9fff;
  padding: 10px;
  border: none;
  width: 244px;
  height: 55px;
  border-radius: 5px;
  font-size: 18px;
  color: #fff;
  box-shadow: 0 4px 20px rgba(61, 159, 255, 0.7);
}
.form__button:hover {
  box-shadow: 0 10px 20px rgba(61, 159, 255, 0.7);
}
li label {
  font-size: 0.7em;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: 700;
}
.close:focus,
.close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
